@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @layer responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }