form {
    padding: 1.2vw;
    border-radius: 0.5vw;
    max-width: 22vw;
    background: rgba(16, 16, 16, 0.5);
    border: 0.1vw solid rgba(255, 255, 255, 0.35);
}

form .form-control {
    display: block;
    height: 3vw;
    margin-right: 0.5vw;
    text-align: center;
    font-size: 1vw;
    min-width: 0;
    border-radius: 0.2vw;
    color: black;
    outline: none;
}

form .form-control:last-child {
    margin-right: 0;
}

form .verify-btn {
    display: block;
    width: 100%;
    height: 3vw;
    margin-top: 1vw;
    font-size: 1vw;
    border-radius: 0.2vw;
    background: rgba(217, 217, 217, 0.4);
    border: none;
    outline: none;
    cursor: pointer;
}

form .verify-btn:hover {
    background: rgba(166, 158, 158, 0.4);
}
