.add {
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.message {
	font-size: 0.8em;
	text-transform: uppercase;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
}

.block {
	font-size: 0.8em;
	text-transform: uppercase;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
}

.btn-1:hover .add {
    opacity: 1;
}

.btn-2:hover .message {
	opacity: 1;
}

.btn-3:hover .block {
	opacity: 1;
}
